[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
confluent-kafka = "*"

[dev-packages]

[requires]
python_version = "3.11"
