<h3>Account information</h3>
<form [formGroup]="infoForm" (submit)="infoSubmit()">
  <div class="form-floating mb-3">
    <input formControlName="first_name" type="text" class="form-control" placeholder="First name">
    <label for="floatingInput">First name</label>
  </div>
  <div class="form-floating mb-3">
    <input formControlName="last_name" type="text" class="form-control" placeholder="Last name">
    <label for="floatingInput">Last name</label>
  </div>
  <div class="form-floating mb-3">
    <input formControlName="email" type="email" class="form-control" placeholder="name@example.com">
    <label for="floatingInput">Email address</label>
  </div>
  <button class="btn btn-outline-secondary">Save</button>
</form>
<h3 class="mt-4">Change password</h3>
<form [formGroup]="passwordForm" (submit)="passwordSubmit()">
  <div class="form-floating mb-3">
    <input formControlName="password" type="password" class="form-control" placeholder="Password">
    <label for="floatingPassword">Password</label>
  </div>
  <div class="form-floating mb-3">
    <input formControlName="password_confirm" type="password" class="form-control" placeholder="Password confirm">
    <label for="floatingPassword">Password confirm</label>
  </div>
  <button class="btn btn-outline-secondary">Save</button>
</form>